




#section_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.combat_1{
    display: flex;   
}
ul {
    list-style-type: none;
    line-height : 30px;
  }

  .classe{
    list-style-type: none;
    border: solid 2px white;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-left:10px;
    
  }
  .combattant_1{
   
    padding-top:40px;
    padding-left:10px;
  }
  .combattant_2{
    padding-top: 40px;
  }
  .combat_3{
    display: block;
    border: 5px solid black;
    border-radius:20px;
    width: fit-content;
    padding-right: 20px;
    color:white;
    background-color: black;
  }
  .gagne{
    
   margin-top: 70px;
   margin-right: 70px;

}
.perdu{
    margin-top: 70px;
    margin-left: 150px;  
}

.vu {
    visibility: hidden;
}
.show {
    visibility: visible !important;
}

.iphone-check{
    position: relative;
    margin: 10px auto;
    width: 50px;
    height: 25px;
    background-color: gainsboro;
    border-radius: 50px;
    border: 1px solid grey;

}
.iphone-check:hover{
    background-color:gray;
}

.btn-checkbox{
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.btn-check{
position: absolute;
width: 50px;
height: 25px;
background-color:rgb(192, 117, 31);
border-radius: 50px;
border: 1px solid grey;
opacity: 0;
}

.btn-checkbox:checked ~ .btn-check{
    opacity: 1;
}

.ball-check{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top:2px;
    left:5px;
    box-shadow: 2px 2px gray;
}
.btn-checkbox:checked ~ .ball-check{
    left: 25px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 20%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }





@import "font.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: "Inter-Regular";
}

html{
    scroll-behavior: smooth;
}
body{
    background: rgb(34, 34, 34);
    min-width: 380px;
}

/************************************************************Header*************************************/
header{
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}
h1{
    font-family: 'Inter-Regular';
    margin-left: 10px;
    font-weight: normal;
    background: linear-gradient(
            to right, #f38021, #ff6b08,
             #cf8a23, #eecf44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
a{
    text-decoration: none;
}
nav a{
    color: rgb(192, 117, 31);
    text-decoration: none;
    margin-right: 50px;
    background:transparent;
    border: none;
    padding-left: 10px;
}
nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav{
    margin: auto;
}
.sous{
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.708);
    border-radius: 10px;
}
nav>ul{
    display: flex;
}
nav>ul li:hover .sous{
    display: block;
}
.menu{
    display: none;
}
#Checkbox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
/*********************************Media Queries****************************************************/
/********************************nav************************************************************************/
@media screen and (max-width:1038px){
    nav{
        font-size: 12px;
    }
}
@media screen and (max-width:940px){
    header nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: -600px;
        top: 150px;
        transition: 250ms;
    }
    header nav a{
        margin-bottom: 20px;
    }
    .menu{
        display: block;
    }
    #Checkbox{
        display: block;
    }
    header h1{
        position: absolute;
        right:20px;
    }
}
/**************************************************checkbox***********************************************************/
@media screen and (max-width:920px){
    header>input{
        position: absolute;
        margin-top: 25px;
        margin-left: 15px;
        z-index: 99;
    }
    #menu1{
        opacity: 0;
    }
    header  nav {
        font-size: 20px;
        background-color: rgba(43, 43, 43, 0.514);
        border-radius: 10px;
        border-style: solid;
    }
}
/************************************************section_1***********************************/
@media screen and (max-width:940px){
    .section_1{
        background-position-x:center !important;
    }
}
@media screen and (max-width:570px){
    nav a{
        font-size: 11px;
    }
}
/********************************************section_2***************************************/
@media screen and (max-width:1622px){
    #section_2{
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*******************************************Section1****************************************/
#destination {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .photos_destination {
    position: absolute;
    top: 0;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    width: 100%;
  }
  .photos_destination img {
    height: 100%;
    width: 100%;
  }
.photos_destination img:hover{
    cursor: url(/images/pause.svg), e-resize;
}
  #img_factice {
    visibility: hidden;
    position: relative;
  }
  
  @keyframes defilement {
    from {
      visibility: hidden;
      transform: translateX(50%);
      opacity: 0%;
    }
  
    1% {
      visibility: visible;
      transform: translateX(50%);
      opacity: 0%;
    }
  
    15% {
      visibility: visible;
      transform: translate(0);
      opacity: 100%;
    }
  
    84% {
      visibility: visible;
      transform: translate(0);
      opacity: 100%;
    }
  
    98% {
      visibility: visible;
      transform: translateX(-50%);
      opacity: 0%;
    }
    to {
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0%;
    }
  }
  
  @keyframes progressBar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
/********************************************Section2*****************************************/
.dernierCbt{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#section_2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}
.combat_1{
    display: flex;
}
ul {
    list-style-type: none;
    line-height : 30px;
  }

  .classe{
    list-style-type: none;
    border: solid 2px white;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
  }
  .combattant_1{
    margin-right: 200px;
    padding-top:40px;
  }
  .combattant_2{
    padding-top: 40px;
  }
  .combat_3{
    display: block;
    border: 5px solid black;
    border-radius:20px;
    width: fit-content;
    padding-right: 20px;
    color:white;
    background-color: black;
  }
  

