

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #carrousel_animation_principale:hover{
    cursor: pointer;
  }

@import "font.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: "Inter-Regular";
}

html{
    scroll-behavior: smooth;
}
body{
    background: rgb(43, 43, 43);
    min-width: 825px;
    margin: 0;
}

/************************************************************Header*************************************/
header{
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}
h1{
    font-family: 'Inter-Regular';
    margin-left: 10px;
    font-weight: normal;
    background: linear-gradient(
            to right, #f38021, #ff6b08,
             #cf8a23, #eecf44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
::-webkit-scrollbar {
    display: none;
    }
a{
    text-decoration: none;
}
nav a{
    color: rgb(192, 117, 31);
    text-decoration: none;
    background:transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sous{
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.708);
    border-radius: 10px;
}
nav>ul{
    display: flex;
}
nav>ul li:hover .sous{
    display: block;
}
.menu{
    display: none;
}
#Checkbox{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
/*********************************Media Queries****************************************************/
/********************************nav************************************************************************/
@media screen and (max-width:1038px){
    nav{
        font-size: 12px;
    }
}
@media screen and (max-width:940px){
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: -800px;
        top: 150px;
        transition: 250ms;
        width: 80%;
        font-size: 20px;
    }
    header nav a{
        margin-bottom: 20px;
    }
    .menu{
        display: block;
    }
    #Checkbox{
        display: block;
    }
    header h1{
        position: absolute;
        right:20px;
    }
    #menu1{
        opacity: 0;
    }
}
@media screen and (max-width:500px){
    header nav{
        font-size: 15px;
    }
}
/************************************************section_1***********************************/
@media screen and (max-width:940px){
    .section_1{
        background-position-x:center !important;
    }
}
/********************************************section_2***************************************/
@media screen and (max-width:1800px){
    #section_2{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:1801px){
  #section_2{
      display: grid;
      grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (min-width:2400px){
  #section_2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr !important;
  }
}
/*******************************************Section1****************************************/
#destination {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .photos_destination {
    position: absolute;
    top: 0;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    width: 100%;
  }
  .photos_destination img {
    height: 100%;
    width: 100%;
  }
#destination:hover{
    cursor: url(/images/pause.svg), e-resize;
}
  #img_factice {
    visibility: hidden;
    position: relative;
  }
  
  @keyframes defilement {
    from {
      visibility: hidden;
      transform: translateX(50%);
      opacity: 0%;
    }
  
    1% {
      visibility: visible;
      transform: translateX(50%);
      opacity: 0%;
    }
  
    15% {
      visibility: visible;
      transform: translate(0);
      opacity: 100%;
    }
  
    84% {
      visibility: visible;
      transform: translate(0);
      opacity: 100%;
    }
  
    98% {
      visibility: visible;
      transform: translateX(-50%);
      opacity: 0%;
    }
    to {
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0%;
    }
  }
  
  @keyframes progressBar {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
/********************************************Section2*****************************************/
.dernierCbt{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#section_2{
    display: grid;

    grid-template-columns: 1fr;

    gap: 20px;
    justify-items: center;
}
.combat_1{
    display: flex;
}
.combat_1 .image{
margin-top: 15px;
}
ul {
    list-style-type: none;
    line-height : 30px;
  }

  .classe{
    list-style-type: none;
    border: solid 2px white;
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    border-color: rgb(192, 117, 31);
  }
  .combattant_1{
    margin-right: 200px;
    padding-top:40px;
  }
  .combattant_2{
    padding-top: 40px;
  }
  
  .combat_3{
    display: block;
    border: 5px solid black;
    border-radius:20px;
    width: fit-content;
    padding-right: 20px;
    color:white;
    background-color: rgb(0, 0, 0);
  }
  

/*.gagne{

 }*/
.perdu{
    margin-top: 70px;
    margin-left: -150px;  
}

.vu {
    visibility: hidden;
}
.show {
    visibility: visible !important;
}

.iphone-check{
    position: relative;
    margin: 10px -100px;
    width: 50px;
    height: 25px;
    background-color: gainsboro;
    border-radius: 50px;
    border: 1px solid grey;

}
.iphone-check:hover{
    background-color:gray;
}

.btn-checkbox{
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.clickEvent .p{
  color:rgb(192, 117, 31);
  margin-left:-120px;
  cursor:pointer;
}

.btn-check{
position: absolute;
width: 50px;
height: 25px;
background-color:rgb(192, 117, 31);
border-radius: 50px;
border: 1px solid grey;
opacity: 0;
}

.btn-checkbox:checked ~ .btn-check{
    opacity: 1;
}

.ball-check{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top:2px;
    left:5px;
    box-shadow: 2px 2px gray;
}
.btn-checkbox:checked ~ .ball-check{
    left: 25px;
}
/*modale pour première image boxeuse*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) *******************************************************************************************************/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 20%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 70px;
    right: 250px;
    color: #ff7925dc;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
/*********************************SECTION 3***********************************************/
/********************************************histoire boxe thai***************************************************/
#onglets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:justify;
    border: 2px dashed rgb(192, 117, 31);
    margin:50px;
    padding:30px;
    width: fit-content;
}

.bouton_onglet{
    border-radius: 70px 10px 100px 40px;
    background-color: rgb(192, 117, 31);
    padding: 20px;
}
.bouton_onglet a:hover{
  color: whitesmoke;
}
.bouton_onglet a {
    text-decoration: none;
    color: black;
  }
.bouton_onglet li{
    list-style-type: none;
    line-height : 60px;
  }

  #onglets p{
    color: white;
    padding-left: 10px;
  }
  #section_3 h1{
    font-size: 20px;
  }


/*glissé déposé************************************************************************************************/
#depart{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 35%;
    padding: 10px;
    margin-left:10px;
}
#depart1{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 35%;
    padding: 10px;
    margin-left:10px;
}
#depart2{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 35%;
    padding: 10px;
    margin-left:10px;
}
#depart3{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 35%;
    padding: 10px;
    margin-left:10px;
}
#depart4{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 35%;
    padding: 10px;
    margin-left:10px;
}
#arrivee{
    border: solid 2px rgb(192, 117, 31);
    border-radius: 15px;
    height: fit-content;
    width: 100%;
    margin-left: 20px;
    padding: 10px;
    color:white;
    background-image: url(/images/ring.jpg);
}

.glisser{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;

  }
  
  .mouseEvent {
    border: 6px solid rebeccapurple;
    width: 200px;
    position: absolute;
    top:5%;
    left: 8%;
    transform: translateX(-50%);
    padding: 10px;
    color:white;
    background-color: #f38021;
}

   /* 100% Image Width on Smaller Screens */
   @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  #Liste1{
    font-family:verdana;
    font-size:10;
    width: 250px;
    border: dashed 5px rgb(213, 200, 184);
    background-color: #f38021;
    color:white;
  }
  #Liste2{
    font-family:verdana;
    font-size:10;
    width: 250px;
    border: dashed 5px rgb(213, 200, 184);
    background-color: #f38021;
    color:white;
  }
  #filters{
    display: flex;
    gap: 10px
}

#filters div{
    margin-bottom: 10px;
    border: 1px solid blue;
    background-color: #cf8a23;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    color:white;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#gallery .active{
    width: 30%;
    padding: 5px;
    transition: width .3s;
}

#gallery .inactive{
    width: 0;
    padding: 0;
    transition: width .3s;
}
#caracteristiques{
  border: 5px solid rgba(192, 117, 31, 0.795);
  position: absolute;
  top:10%;
  left: 25%;
  padding: 3px;
}
#boxeur_1{
  border: 5px solid rgba(192, 117, 31, 0.795);
  position: absolute;
  width: 300px;
  top:20%;
  left:20%; 
  background-color: rgb(192, 117, 31, 0.8);
}
#fermeture{
  border: 3px solid white;
  height: 70px;
  width: 50px;
}


/***************************************footer**********************************************************************/
footer{
    border-top:dashed;
    margin-top: 100px;
    color: rgba(192, 117, 31, 0.795);
    text-align: center;
    background: rgb(34, 34, 34);
    width: 100%;
}
.ligne{
    display: grid;
    grid-template-columns: 1fr;
}
#contact{
    min-width: 380px;
}
#contact h3{
    margin-bottom: 10px;
}
#reseaux button {
    background-color: transparent;
    border: none;
    transition: 125ms;
}
#logofooter{
    min-width: 380px;
}
footer>div>* {
    width: 380px;
    margin: 25px auto;
}

#reseaux button:hover {
    transform: scale(1.08);
    cursor: pointer;
}
#reseaux img {
    width: 80px;
    transition: 250ms;
}
#reseaux{
    min-width: 380px;
}
#reseaux .ligne1{
    margin-top: 15px;
    justify-content: center;
}
#reseaux button{
    margin-left: 10px;
}
#contacts>div {
    text-align: left;
    width: min-content;
    margin: auto;
}
#contacts p {
    white-space: nowrap;
}
footer p, footer a {
    color: rgb(211, 211, 211);
    font-family: arial, sans-serif;
    font-size: 16px;
    transition: 250ms;
}
/*******************************************media queries************************************/
/********************************************footer*******************************************/
@media screen and (max-width:1140px){
    .ligne{
        grid-template-columns: 1fr;
    }
    #contact{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media screen and (max-width:760px){
    .ligne{
        grid-template-columns: 1fr;
    }
    #logofooter{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
#scroll_to_top {
  position: fixed;
  bottom: 50px;
  right: 30px;
  opacity: 0;
  z-index: -50;
}


/*******************************popup************************************/
.overlay{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.59);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  /*display: none;*/
}
#popup{
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 50px auto;
  position: fixed;
  width:90%;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px rgba(255, 255, 255, 0.24);
  z-index: -2;
  opacity: 0;
  overflow-y: scroll;
  overflow-x:hidden;
  /*display: none;*/
}
::-webkit-scrollbar {
  display: none;
  }
  table{
    color: whitesmoke;
    border-collapse:collapse;
    width: 95%;
    margin: auto;
  }
  th, td{
    border:1px solid whitesmoke;
    padding: 10px;
    text-align: center;
  }
  .rouge{
    background-color: rgb(170, 29, 29);
  }
  .bleu{
    background-color: rgb(30, 30, 173);
  }
  .gagnant p{
    color: whitesmoke;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }